.header_items {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
}

/* burger Menu */
.checkbox {
    display: none;
}

@media only screen and (max-width:570px) {
    .header_items {
        display: none;
    }

    .button {
        position: relative;
        width: 50px;
        height: 37px;
        margin-left: 15px;
        cursor: pointer;
    }

    .button>span:nth-child(1),
    .button>span:nth-child(2),
    .button>span:nth-child(3) {
        position: absolute;
        height: 7px;
        border-radius: 20px;
        transition: all 0.5s;
        animation: textAnim 2s infinite alternate;
    }

    .button>span:nth-child(1) {
        width: 100%;
        background: linear-gradient(30deg, #ec6565, #ffa600);
        top: 0%;
    }

    .button>span:nth-child(2) {
        width: 35%;
        background: linear-gradient(30deg, #800080, #43bece);
        top: 15px;
    }
    
    .button>span:nth-child(3) {
        width: 70%;
        background: linear-gradient(30deg, #00ffbf, #03ff25);
        bottom: 0%;
    }

    .checkbox:checked~.header_items {
        top: 72px;
        display: inline-block;
        width: 100wh;
        height: calc(100vh - 72px);
        background: #fff;
        z-index: 10;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    .checkbox:checked+.button>span:nth-child(1) {
        width: 100%;
        transform: rotate(45deg) translate(20px, 0px);
    }

    .checkbox:checked+.button>span:nth-child(2) {
        width: 50%;
        transform: rotate(-45deg) translate(35px, 18px);
    }

    .checkbox:checked+.button>span:nth-child(3) {
        width: 50%;
        transform: rotate(-45deg) translate(15px, 8px);
    }
}